.search-form{
    height: 44px;
    display: flex;
}

.search-form input{
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
    border-radius: 10px;
}

.search-form button{
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--blue);
    border:none;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
