<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                A urban commerce iniciou suas atividades
                em 2018 e superando muitas dificuldades desde então. 
                Apesar das adversidades, nos dedicamos a melhorar nossa 
                plataforma, ampliar nosso catálogo e conquistar a confiança
                dos clientes. Aprendemos a enfrentar os desafios com determinação
                e transformá-los em oportunidades de crescimento. Nossa história
                é a prova de que a perseverança e a paixão podem superar qualquer 
                dificuldade. Venha conhecer nossa loja online e desfrute de produtos
                de qualidade com facilidade e confiança.
            </p>
        </section>
        <address >
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-envelope">andre_barros@urbancommerce.com.br</i>
                </li>
                <li>
                    <i class="fa-solid fa-phone">(68) 3930-3191</i>
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp">(68) 98904-0937</i> 
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>