<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                A urban commerce iniciou suas atividades
                em 2018 e superando muitas dificuldades desde então. 
                Apesar das adversidades, nos dedicamos a melhorar nossa 
                plataforma, ampliar nosso catálogo e conquistar a confiança
                dos clientes. Aprendemos a enfrentar os desafios com determinação
                e transformá-los em oportunidades de crescimento. Nossa história
                é a prova de que a perseverança e a paixão podem superar qualquer 
                dificuldade. Venha conhecer nossa loja online e desfrute de produtos
                de qualidade com facilidade e confiança.
            </p>
        </section>
        <address >
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-envelope">lucaslopesllima@gmail.com</i>
                </li>
                <li>
                    <i class="fa-solid fa-phone">(47) 3930-3191</i>
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp">(68) 99700-7223</i> 
                </li>
                    <li><a href="http://facebook.com"><i class="fa-brands fa-facebook">Facebook</i></a></li>
                    <li><a href="http://instagram.com"><i class="fa-brands fa-instagram">Instagram</i></a></li>
                    <li><a href="http://twiter.com"><i class="fa-brands fa-twitter">Twiter</i></a></li>
                    <li><a href="http://linkedin.com/in/lucaslopesllima"><i class="fa-brands fa-linkedin">Linkedin</i></a></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>