<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Urban</span>
        <span class="main-header__title--orange">Commerce</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li><a href="http://">Produtos</a></li>
            <li><a href="">
                <i class="fa-solid fa-cart-shopping"></i>
                Carrinho
                <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>        
            </a></li>
            <li><a href="">Contato</a></li>
            <li><a href="">Facebook<i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="">Instagram<i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="">Twiter<i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="">Linkedin<i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
    <form action="" class="search-form">
       
        <input type="text" name="" id="">
        <button> <i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
</header>