<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Urban</span>
    <span class="main-header__title--orange">Commerce</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li (click)="goToProducts()"><a>Produtos</a></li>
        <li (click)="goToCart()"><a>
            <i class="fa-solid fa-cart-shopping"></i>
            Carrinho
            <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>
          </a>
        </li>
        <li (click)="gotToContact()"><a>Contato</a></li>
        <li><a href="http://facebook.com">Facebook<i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="http://instagram.com">Instagram<i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="http://twiter.com">Twiter<i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/lucaslopesllima">Linkedin<i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </nav>
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
</header>
